body {
    font-family: Jost, sans-serif;
    font-size: 1rem
}

a {
    cursor: pointer;
}

.page-title {
    font-weight: 500;
}

.is_invalid {
    border-color: #d63939;
}

.btn {
    font-family: inherit;
    border-radius: .375rem
}

.btn-primary {
    background-color: #1d273b
}

.form-control, .form-label {
    font-size: 1rem;
    font-family: inherit
}

.markdown > table thead th, .table thead th {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.card {
    /*box-shadow: 0 3px 20px #0000000b;*/
}

.breadcrumb{font-size: 1.4rem;font-weight: 500}
.breadcrumb a{color: #616876}
.breadcrumb-current {
    display: inline;
    font-size: 1.6rem;
    line-height: 0;
    font-weight: 700;
    color: #616876
}

.navbar-dark .navbar-nav .nav-link, .dropdown-item {
    font-size: 1rem
}
.offcanvas.offcanvas-end{width: 60%}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}