body {
    font-family: Jost, sans-serif;
    font-size: 1rem
}

a {
    cursor: pointer;
}

.page-title {
    font-weight: 500;
}

.is_invalid {
    border-color: #d63939;
}

.btn {
    font-family: inherit;
    border-radius: .375rem
}

.btn-primary {
    background-color: #1d273b
}

.form-control, .form-label {
    font-size: 1rem;
    font-family: inherit
}

.markdown > table thead th, .table thead th {
    font-size: 0.8rem
}

.card {
    box-shadow: 0 3px 20px #0000000b;
}

.navbar-dark .navbar-nav .nav-link, .dropdown-item {
    font-size: 1rem
}