<!doctype html>

<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>I-Cours récupération mot de passe</title>
		<link rel="icon" href="./favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
		<meta name="description" content="Icours validation email"/>
		<link href="http://localhost:5173/css/theme.min.css" rel="stylesheet"/>

	</head>
	<body class="bg-white" data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">

		<header class="py-6 py-md-6" style="background-image: none;">
			<div class="container text-center py-xl-2">
				<h1 class="display-4 fw-semi-bold mb-0">ICOURS</h1>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb breadcrumb-scroll justify-content-center">
						<li class="breadcrumb-item">
							<a class="text-gray-800" href="/">Accueil</a>
						</li>
						<li class="breadcrumb-item text-gray-800 active" aria-current="page">
							Récuperer mot de passe
						</li>
					</ol>
				</nav>
			</div>
		</header>


		<div class="container my-12">
			<div class="row">
				<div class="col-lg-5 col-xl-6 mb-6 mb-lg-0">
					<img src="http://localhost:5173/img/illustration-11.svg" alt="ICOURS." class="img-fluid">
				</div>

				<div class="col-lg-7 col-xl-6 py-12 py-md-12">
  					<h1 class="display-6">Récupération mot de passe.</h1>
                    {% if hasError %}
                      
						{% for error in errors %}
							<h3 class="mb-6" style="color:red">{{error}}</h3>
						{% endfor %}
					{% else %}
                        <h3 class="line-height-md mb-6">Pour finaliser votre opération veuillez consulter le message qui vient de vous être envoyé dans votre boite mail.</h3>
					{% endif %}					
                    <a href="http://localhost:5173" class="btn btn-primary">Aller à la page d'accueil</a>
				</div>
			</div>
		</div>

	</body>
</html>
