<!doctype html>

<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>I-Cours</title>
		<link rel="icon" href="./favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200&display=swap" rel="stylesheet">
		<link href="http://localhost:5173/css/theme.min.css" rel="stylesheet"/>

	</head>
	<body class="bg-white">
         {% block body%}{% endblock %}

		</body>
	</html>
