{% extends "layout.twig" %}

{% block body %}

	<header class="py-6 py-md-6" style="background-image: none;">
		<div class="container text-center py-xl-2">
			<h1 class="display-4 fw-semi-bold mb-0">ICOURS</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb breadcrumb-scroll justify-content-center">
					<li class="breadcrumb-item">
						<a class="text-gray-800" href="/">Accueil</a>
					</li>
					<li class="breadcrumb-item text-gray-800 active" aria-current="page">
						Récuperer mot de passe
					</li>
				</ol>
			</nav>
		</div>
	</header>


	<div class="container my-12">
		<div class="row">
			<div class="col-lg-5 col-xl-6 mb-6 mb-lg-0">
				<img src="http://localhost:5173/img/illustration-11.svg" alt="ICOURS." class="img-fluid">
			</div>

			<div class="col-lg-7 col-xl-6 py-12 py-md-6">
				<h2 class="display-6">Modification mot de passe.</h2>
				{% if hasError %}

					{% for error in errors %}
						<h3 class="mb-6" style="color:red">{{error}}</h3>
					{% endfor %}
				{% endif %}
				<form class="mb-5" action="/api/auth/update-password" method="post">
					<input type="hidden" name="token" value="{{token.token}}"/>

					<div class="form-group mb-5">
						<label>Mot de passe</label>
						<input type="password" class="form-control" name="password" id="password" placeholder="**********" required autocomplete="off"/>
					</div>

					<div class="form-group mb-5">
						<label>Confirmation Mot de passe</label>
						<input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="**********" required autocomplete="off"/>
					</div>

					<button class="btn btn-block btn-primary" type="submit">
						ENVOYER
					</button>
				</form>

			</div>
		</div>
	</div>

{% endblock %}
